/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

:root {
  --accent: #32737d;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
}
main {
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 6em 1em 3em;
}
h1,
h2,
h3 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  font-family: "Londrina Solid";
}
h4,
h5,
h6 {
  margin: 0 0 0.2rem 0;
  line-height: 1;
  font-family: "Nunito";
}

h1:not(.prose *) {
  font-size: clamp(2.841em, 6vw, 4em);
}
h2:not(.prose *) {
  font-size: clamp(2.085em, 6vw, 2.441em);
}
h3:not(.prose *) {
  font-size: clamp(1.786em, 6vw, 1.953em);
}
h4:not(.prose *) {
  font-size: clamp(1.34em, 6vw, 1.563em);
}
h5:not(.prose *) {
  font-size: clamp(0.8em, 6vw, 1.25em);
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  border-radius: 2px;
  @apply bg-slate-300 dark:bg-slate-800 transition-colors;
}
pre > code {
  all: unset;
  @apply bg-none dark:bg-transparent;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

/* maybe replace media queries with tailwind */
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 5em 1em;
  }
}
