---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hey there! I'm a 22-year-old web developer from Algeria. I kicked off my
    coding journey at 19, and let me tell you, it's been a wild ride of love
    (mostly) and a bit of a love/hate dance. Excited to connect with fellow tech
    enthusiasts, make cool things, and dive into new adventures!
  </p>

  <p>
    I have a Bachelor's degree in Computer Science and I'm currently pursuing a
    master's degree in Software Engineering.
  </p>

  <p>
    I'm all about sipping coffee, throwing myself into a room, and conjuring up
    some awesome creations.
  </p>

  <h2>Skills:</h2>
  <!-- display this in grid, or make a carousel -->
  <div class="make-it-griddy">
    <p>I'm skilled in these technologies, also looking to learn much more!</p>
    sass, tailwind, react, nextjs, express
  </div>

  <h2>Projects:</h2>
  <div class="grid-with-transitions">still to be determined</div>

  <h2>Contact me!</h2>
  <p>find some text from other websites</p>
</Layout>
