---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <main class="w-[960px]">
    <div class="intro mb-32">
      <div class="w-full flex items-center justify-center gap-10 mb-8">
        <img
          src="/blog-placeholder-about.jpg"
          width={500}
          height={500}
          alt="portrait-img"
        />

        <p class="text-stone-800 dark:text-stone-300">
          Hey there! I'm a 22-year-old web developer from Algeria. I kicked off
          my coding journey at 19, and let me tell you, it's been a wild ride of
          love (mostly) and a bit of a love/hate dance. Excited to connect with
          fellow tech enthusiasts, make cool things, and dive into new
          adventures!
        </p>
      </div>

      <p class="text-stone-800 dark:text-stone-300">
        I have a Bachelor's degree in Computer Science and I'm currently
        pursuing a master's degree in Software Engineering.
      </p>

      <p class="text-stone-800 dark:text-stone-300">
        I'm all about sipping coffee, throwing myself into a room, and conjuring
        up some awesome creations.
      </p>
    </div>

    <section
      class="skills mb-32 flex flex-col items-center justify-center w-full"
    >
      <h2 class="text-stone-800 dark:text-stone-100">Skills:</h2>
      <p
        class="text-stone-800 dark:text-stone-300 text-center max-w-lg leading-tight"
      >
        I'm skilled in these technologies, also looking to learn much more!
      </p>
      <div class="icons w-full flex flex-wrap gap-[2rem] justify-center">
        <Icon name="css" size={70} color="#264de4" />
        <Icon name="sass" size={70} color="#c69" />
        <Icon name="javascript" size={70} />
        <Icon name="typescript" size={70} />
        <Icon
          name="react"
          size={70}
          class="animate-spin-slow"
          color="#149eca"
        />
        <Icon name="next-js" size={70} />
        <Icon name="tailwindcss" size={70} />
        <Icon name="nodejs" size={70} />
      </div>
    </section>

    <section
      class="projects mb-32 flex flex-col items-center justify-center w-full"
    >
      <h2 class="text-stone-800 dark:text-stone-100">Projects:</h2>
      <p
        class="text-stone-800 dark:text-stone-300 text-center max-w-lg leading-tight"
      >
        Take a look at some of my projects:
      </p>
      <ul class="w-full flex flex-wrap gap-8">
        {
          projects.map((project) => {
            const {
              data: { title, description, heroImage },
              slug,
            } = project;
            return (
              <li class="project w-full text-center md:w-[calc(50%_-_1rem)] md:text-left group">
                <a class="w-full h-full" href={`/projects/${slug}`}>
                  <img
                    src={`${heroImage}`}
                    alt="project-hero-img"
                    class="transition-shadow group-hover:shadow-2xl"
                  />
                  <h4 class="transition-colors my-2 group-hover:text-[rgb(var(--accent))] text-stone-800 dark:text-stone-100">
                    {title}
                  </h4>
                  <p class="transition-colors m-0 leading-tight text-[rgb(var(--gray))] dark:text-stone-300 group-hover:text-[rgb(var(--accent))]">
                    {description}
                  </p>
                </a>
              </li>
            );
          })
        }
      </ul>
      <div class="w-full text-center mt-8">
        <a
          href="/projects"
          class="text-center underline font-semibold uppercase transition-colors dark:text-[rgb(var(--gray-light))] dark:hover:text-[rgb(var(--gray))]"
          >See all projects</a
        >
      </div>
    </section>

    <section
      class="contact mb-10 flex flex-col items-center justify-center w-full"
    >
      <h2 class="text-stone-800 dark:text-stone-100">Contact me!</h2>
      <p
        class="text-stone-800 dark:text-stone-300 text-center max-w-lg leading-tight"
      >
        Questions or collaborations? Click the button below to get in touch.
        Looking forward to hearing from you!
      </p>
      <a
        href="mailto:echikr.abdelghafour@hotmail.com"
        target="_blank"
        class="flex items-center justify-center rounded-md border-4 px-2 py-1 w-fit text-3xl text-stone-800 dark:text-stone-50 border-stone-800 dark:border-stone-50 font-['Londrina_Solid'] hover:shadow-lg transition-all"
      >
        Contact me
      </a>
    </section>
  </main>
</BaseLayout>
