---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="top-text w-full flex flex-col text-center">
        <h1 class="text-center">Hello 👋, My name is Abdelghafour Echikr</h1>
        <p class="text-2xl">Software Engineering Student | Web Developer</p>
      </div>
      <p class="text-center text-4xl">
        I'm an Algerian Web Developer, currently a college student, who's
        passionate about tech, building and developing websites.
      </p>
    </main>
    <Footer />
  </body>
</html>
