---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="index w-full flex flex-col items-center justify-center">
    <div
      class="text flex flex-col text-center justify-center items-center w-auto lg:w-[960px] gap-10"
    >
      <div class="upper">
        <h1 class="text-center text-stone-800 dark:text-stone-50">
          Hello 👋, My name is Abdelghafour Echikr
        </h1>
        <p class="text-2xl text-stone-800 dark:text-stone-50 m-0">
          Software Engineering Student | Web Developer
        </p>
        <div
          class="desc w-full flex flex-col items-center justify-center gap-0"
        >
          <p
            class="text-center text-3xl text-stone-800 dark:text-stone-300 my-5"
          >
            I'm passionate about tech, building and developing websites,
            expanding my knowledge on software.
          </p>
          <a
            href="/about"
            class="uppercase font-black underline dark:text-[rgb(var(--gray-light))] dark:hover:text-[rgb(var(--gray))] transition-colors"
          >
            More about me
          </a>
        </div>
      </div>
      <div
        class="w-3/4 grid grid-cols-1 lg:grid-cols-2 items-center justify-center gap-10"
      >
        <div class="left flex flex-col w-full gap-10">
          <div
            class="projects flex flex-col justify-start items-center border border-stone-800 dark:border-stone-500 rounded-md p-7 gap-4"
          >
            <p class="text-3xl text-stone-800 dark:text-stone-300 mb-0">
              Take a look at my projects, see what I'm working on
            </p>
            <a
              href="/projects"
              class="uppercase font-black underline dark:text-[rgb(var(--gray-light))] dark:hover:text-[rgb(var(--gray))] transition-colors"
              >See my projects</a
            >
          </div>
          <div
            class="articles flex flex-col justify-start items-center border border-stone-800 dark:border-stone-500 rounded-md p-7 gap-4"
          >
            <p class="text-3xl text-stone-800 dark:text-stone-300 mb-0">
              Visit my blog, see what I'm writing
            </p>
            <a
              href="/blog"
              class="uppercase font-black underline dark:text-[rgb(var(--gray-light))] dark:hover:text-[rgb(var(--gray))] transition-colors"
              >Visit my blog</a
            >
          </div>
        </div>
        <div
          class="contact flex flex-col items-center justify-center gap-7 border border-stone-800 dark:border-stone-500 rounded-md p-7 h-full"
        >
          <p class="text-3xl text-stone-800 dark:text-stone-300 mb-0">
            If you're ready to bring ideas to life or collaborate, hit the
            button below!
          </p>
          <a
            href="mailto:echikr.abdelghafour@hotmail.com"
            target="_blank"
            class="px-4 py-2 text-stone-50 hover:text-stone-50 font-extrabold text-3xl bg-[var(--accent)] dark:bg-[rgb(var(--gray))] rounded-md hover:scale-110 transition-transform hover:text-[var(--accent)]"
          >
            Contact me
          </a>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
