---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const birthday = new Date("08-12-2001");
const now = new Date();

const diffInMilliseconds = now.getTime() - birthday.getTime();
const ageDate = new Date(diffInMilliseconds);

const age = Math.abs(ageDate.getUTCFullYear() - 1970);
---

<BaseLayout>
  <main
    class="index flex flex-col items-center justify-center w-[960px] gap-20 sm:gap-24 md:gap-44 lg:gap-64"
  >
    <section
      class="text flex flex-col text-center justify-center items-center w-auto lg:w-[960px] gap-7 md:gap-10"
    >
      <div class="upper">
        <h1
          class="text-center hidden md:block text-stone-800 dark:text-stone-50"
        >
          <span class="block">Hello 👋, My name is</span>
          <span class="block">Abdelghafour Echikr</span>
        </h1>
        <h1
          class="uppercase md:capitalize text-center block md:hidden text-stone-800 dark:text-stone-50"
        >
          Abdelghafour Echikr
        </h1>
        <p
          class="font-bold text-xl sm:text-2xl md:text-3xl text-stone-800 dark:text-stone-50 m-0 font-[Lato]"
        >
          Software Engineer | Web Developer
        </p>
        <div
          class="desc w-full flex flex-col items-center justify-center gap-0"
        >
          <p
            class="text-center text-xl sm:text-2xl md:text-3xl text-stone-800 dark:text-stone-300 my-3 md:my-5"
          >
            I'm passionate about tech, building and developing websites,
            expanding my knowledge on software.
          </p>
          <a
            href="#about"
            class="uppercase font-black underline hover:text-[var(--accent)] dark:text-[rgb(var(--gray-light))] dark:hover:text-[rgb(var(--gray))] transition-colors"
          >
            More about me
          </a>
        </div>
      </div>
      <div
        class="w-3/4 grid grid-cols-1 lg:grid-cols-2 items-center justify-center gap-7 md:gap-10"
      >
        <div class="left flex flex-col w-full gap-7 md:gap-10">
          <div
            class="projects flex flex-col justify-start items-center border border-stone-800 dark:border-stone-500 rounded-md p-4 sm:p-7 gap-2 sm:gap-4 backdrop-blur-xs"
          >
            <p
              class="text-2xl sm:text-3xl text-stone-800 dark:text-stone-300 mb-0"
            >
              Check out what I&apos;ve built & what I&apos;m working on
            </p>
            <a
              href="/projects"
              class="uppercase font-black underline hover hover:text-[var(--accent)] dark:text-[rgb(var(--gray-light))] dark:hover:text-[rgb(var(--gray))] transition-colors"
              >My projects</a
            >
          </div>
          <div
            class="articles flex flex-col justify-start items-center border border-stone-800 dark:border-stone-500 rounded-md p-4 sm:p-7 gap-2 sm:gap-4"
          >
            <p
              class="text-2xl sm:text-3xl text-stone-800 dark:text-stone-300 mb-0"
            >
              I write sometimes, check out my blog section
            </p>
            <a
              href="/blog"
              class="uppercase font-black underline hover:text-[var(--accent)] dark:text-[rgb(var(--gray-light))] dark:hover:text-[rgb(var(--gray))] transition-colors"
              >Visit my blog</a
            >
          </div>
        </div>
        <div
          class="contact flex flex-col items-center justify-center border border-stone-800 dark:border-stone-500 rounded-md p-4 sm:p-7 gap-2 sm:gap-4 h-full"
        >
          <p
            class="text-2xl sm:text-3xl text-stone-800 dark:text-stone-300 mb-0"
          >
            If you're ready to bring ideas to life or collaborate, hit the
            button below!
          </p>
          <a
            href="mailto:echikr.abdelghafour@hotmail.com"
            target="_blank"
            class="py-2 sm:py-4 px-6 sm:px-12 text-stone-50 font-extrabold text-xl sm:text-2xl md:text-3xl bg-[var(--accent)] dark:bg-[rgb(var(--gray))] rounded-md hover:scale-110 transition-transform"
          >
            Contact me
          </a>
        </div>
      </div>
    </section>

    <section class="intro" id="about">
      <div class="w-full flex items-start justify-center gap-10">
        <div class="text text-stone-800 dark:text-stone-300">
          <h1
            class="uppercase md:capitalize text-center md:text-left racking-wide text-stone-800 dark:text-stone-100"
          >
            About me
          </h1>
          <p
            class="leading-snug flex flex-col items-start justify-start gap-3 mb-3"
          >
            <span>I'm a {age}-year-old web developer from Algeria.</span>
            <span
              >Starting my coding journey at 19, I've embraced the challenges
              and joys of programming. I'm excited to connect with fellow tech
              enthusiasts, build cool things, and dive into new adventures!</span
            >
          </p>
          <div class="skills mb-3">
            <p class="text-stone-800 dark:text-stone-300 mb-3">
              Here are some technologies I've been using:
            </p>
            <ul
              class="technologies ml-4 grid grid-cols-2 text-stone-800 dark:text-stone-300 list-disc"
            >
              <li>Typescript</li>
              <li>Tailwind</li>
              <li>Reactjs</li>
              <li>Nextjs</li>
              <li>Astro</li>
              <li>Express</li>
            </ul>
          </div>
        </div>

        <Image
          src="/images/portrait3.jpg"
          class="hidden md:block"
          width={350}
          height={350}
          loading="lazy"
          alt="portrait-img"
        />
      </div>
    </section>

    <section
      class="projects flex flex-col items-center justify-center w-full gap-3 sm:gap-4 md:gap-5"
    >
      <h1
        class="uppercase md:capitalize text-stone-800 dark:text-stone-100 tracking-wide mb-0"
      >
        Education
      </h1>
      <div class="w-full flex flex-col items-center gap-5">
        <div
          class="w-full flex flex-col-reverse sm:flex-row gap-0 sm:gap-4 items-start justify-between"
        >
          <div class="left flex flex-col items-start justify-center">
            <div
              class="text-stone-700 dark:text-stone-200 font-[Lato] text-xl md:text-2xl font-bold"
            >
              SAAD DAHLEB UNIVERSITY
            </div>
            <p
              class="text-stone-800 dark:text-stone-300 text-left leading-tight"
            >
              Masters of Software Engineering
            </p>
            <p class="text-stone-800 dark:text-stone-300 italic">
              Blida, Algeria
            </p>
          </div>
          <div class="right">
            <p class="text-stone-800 dark:text-stone-300 italic">2022 - 2025</p>
          </div>
        </div>
        <div
          class="w-full flex flex-col-reverse sm:flex-row gap-0 sm:gap-4 items-start justify-between"
        >
          <div class="left flex flex-col items-start justify-center">
            <div
              class="text-stone-700 dark:text-stone-200 font-[Lato] text-xl md:text-2xl font-bold"
            >
              SAAD DAHLEB UNIVERSITY
            </div>
            <p
              class="text-stone-800 dark:text-stone-300 text-left leading-tight"
            >
              Bachelors of Information Systems and Software Engineering
            </p>
            <p class="text-stone-800 dark:text-stone-300 italic">
              Blida, Algeria
            </p>
          </div>
          <div class="right">
            <p class="text-stone-800 dark:text-stone-300 italic">2019 - 2022</p>
          </div>
        </div>
      </div>
    </section>

    <section
      class="contact flex flex-col items-center justify-center gap-3 w-full md:mb-16 lg:mb-24"
    >
      <h1
        class="uppercase md:capitalize text-stone-800 dark:text-stone-100 tracking-wide mb-0"
      >
        Get in touch
      </h1>
      <div
        class="text-stone-800 dark:text-stone-300 text-center leading-tight flex flex-col items-center gap-3"
      >
        <div
          class="font-bold text-2xl sm:text-4xl text-stone-700 dark:text-stone-300"
        >
          Questions or collaborations?
        </div>
        <div class="low">
          <div class="text-xl sm:text-2xl text-stone-800 dark:text-stone-300">
            Don&apos;t hesitate to get in touch
          </div>
          <div class="text-xl sm:text-2xl text-stone-800 dark:text-stone-300">
            Looking forward to hearing from you!
          </div>
        </div>
      </div>
      <a
        href="mailto:echikr.abdelghafour@hotmail.com"
        target="_blank"
        class="py-2 sm:py-4 px-6 sm:px-12 text-stone-50 font-extrabold text-xl sm:text-2xl md:text-3xl bg-[var(--accent)] dark:bg-[rgb(var(--gray))] rounded-md hover:scale-110 transition-transform"
      >
        Contact me
      </a>
    </section>
  </main>
</BaseLayout>
