---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer>
  <p class="flex w-full text-center gap-3 justify-center">
    Built by @Abdelghafour122 in
    <Icon name="dzflag" size={30} title="algeria" />
  </p>
  &copy; {today.getFullYear()} All rights reserved.
  <div class="social-links">
    <a href="https://www.linkedin.com/in/abdelghafour-echikr" target="_blank">
      <span class="sr-only">Connect with me on Linkedin</span>
      <Icon name="linkedin" size={30} title="linkedin" />
    </a>
    <a href="https://twitter.com/Abdelghafour1_" target="_blank">
      <span class="sr-only">Follow me on Twitter</span>
      <Icon name="twitter" size={30} title="twitter" />
    </a>
    <a href="https://github.com/Abdelghafour122" target="_blank">
      <span class="sr-only">Go to my GitHub repo</span>
      <Icon name="github" size={30} title="github" />
    </a>
    <a href="mailto:echikr.abdelghafour@hotmail.com" target="_blank">
      <span class="sr-only">Contact Me</span>
      <Icon name="mail" size={30} title="mail" />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
