---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer>
  <p class="flex w-full text-center gap-3 justify-center">
    Built by @Abdelghafour122 in
    <svg
      height="32"
      width="32"
      viewBox="0 0 311 214"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_8_7)">
        <rect width="311" height="214" rx="35" fill="white"></rect>
        <g clip-path="url(#clip1_8_7)">
          <path d="M155.5 0H311V214H155.5V0Z" fill="white"></path>
          <path d="M0 0H155.5V214H0V0Z" fill="#006233"></path>
          <path
            d="M206.038 80.25C199.619 70.0507 189.712 62.0794 177.853 57.5725C165.993 53.0655 152.844 52.2748 140.445 55.323C128.046 58.3711 117.089 65.0878 109.275 74.4313C101.461 83.7747 97.2249 95.2228 97.2249 107C97.2249 118.777 101.461 130.225 109.275 139.569C117.089 148.912 128.046 155.629 140.445 158.677C152.844 161.725 165.993 160.934 177.853 156.428C189.712 151.921 199.619 143.949 206.038 133.75C199.997 140.672 191.762 145.702 182.471 148.144C173.18 150.587 163.291 150.321 154.171 147.385C145.052 144.448 137.151 138.985 131.562 131.75C125.973 124.516 122.971 115.867 122.971 107C122.971 98.1326 125.973 89.4841 131.562 82.2497C137.151 75.0154 145.052 69.5523 154.171 66.6155C163.291 63.6787 173.18 63.4132 182.471 65.8556C191.762 68.2981 199.997 73.3279 206.038 80.25ZM207.981 107L155.5 91.3067L188.155 132.323V81.6767L155.5 122.693L207.981 107Z"
            fill="#D21034"></path>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_8_7">
          <rect width="311" height="214" rx="35" fill="white"></rect>
        </clipPath>
        <clipPath id="clip1_8_7">
          <rect width="311" height="214" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </p>
  &copy; {today.getFullYear()} All rights reserved.
  <div class="social-links">
    <a href="https://www.linkedin.com/in/abdelghafour-echikr" target="_blank">
      <span class="sr-only">Connect with me on Linkedin</span>
      <Icon name="linkedin" size={30} />
    </a>
    <a href="https://twitter.com/Abdelghafour1_" target="_blank">
      <span class="sr-only">Follow me on Twitter</span>
      <Icon name="twitter" size={30} />
    </a>
    <a href="https://github.com/Abdelghafour122" target="_blank">
      <span class="sr-only">Go to my GitHub repo</span>
      <Icon name="github" size={30} />
    </a>
    <a href="mailto:echikr.abdelghafour@hotmail.com" target="_blank">
      <span class="sr-only">Contact Me</span>
      <Icon name="mail" size={30} />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
