---
import { Icon } from "astro-icon/components";
import HeaderLink from "./HeaderLink.astro";
import DarkModeSwitch from "@components/DarkModeSwitch.astro";
---

<header
  class="bg-stone-50 dark:bg-stone-800 drop-shadow-[0_2px_8px_rgba(var(--black),0.05)] px-4 py-0 m-0"
>
  <nav class="flex items-center justify-between py-2">
    <div class="left flex items-center gap-9">
      <div class="logo flex">
        <span class="sr-only">Logo</span>
        <Icon name="logo" size={50} title="that's my logo ;)" />
      </div>
      <div class="internal-links flex items-center justify-center gap-6">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
      </div>
    </div>
    <div class="right flex items-center justify-center gap-7">
      <DarkModeSwitch />
      <div class="social-links flex items-center justify-center gap-4">
        <a
          href="https://www.linkedin.com/in/abdelghafour-echikr"
          target="_blank"
          class="text-stone-800 dark:text-stone-200"
        >
          <span class="sr-only">Connect with me on Linkedin</span>
          <Icon name="linkedin" size={30} title="linkedin" />
        </a>
        <a
          href="https://twitter.com/Abdelghafour1_"
          target="_blank"
          class="text-stone-800 dark:text-stone-200"
        >
          <span class="sr-only">Follow me on Twitter</span>
          <Icon name="twitter" size={30} title="twitter" />
        </a>
        <a
          href="https://github.com/Abdelghafour122"
          target="_blank"
          class="text-stone-800 dark:text-stone-200"
        >
          <span class="sr-only">Go to my GitHub repo</span>
          <Icon name="github" size={30} title="github" />
        </a>
      </div>
    </div>
  </nav>
</header>
<style>
  nav a.active {
    text-decoration: none;
    color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
