---
import { Icon } from "astro-icon/components";
import { IconEnum } from "@/consts";
import HeaderLink from "./HeaderLink.astro";
import DarkModeSwitch from "@components/DarkModeSwitch.astro";
import SocialLink from "./SocialLink.astro";
import MobileMenu from "./MobileMenu.astro";
---

<header
  class="fixed top-0 w-full bg-stone-200 dark:bg-neutral-900 dark:border-b dark:border-b-stone-400 drop-shadow-[0_2px_8px_rgba(var(--black),0.08)] px-0 sm:px-4 py-0 m-0"
>
  <nav class="flex relative items-center justify-between py-2 px-5 sm:px-10">
    <MobileMenu />
    <!-- hidden -->
    <div
      class="overlay absolute top-[calc(100%_+_2px)] left-2/4 -translate-x-2/4 w-screen h-screen -z-10 bg-black/50 dark:bg-black/80 transition-opacity"
    >
    </div>
    <div class="left flex items-center gap-9">
      <div class="logo flex">
        <span class="sr-only">Logo</span>
        <Icon name="logo" size={50} title="that's my logo ;)" />
      </div>
      <!-- class="internal-links items-center justify-center gap-4 hidden sm:flex" -->
      <!-- <div class="internal-links items-center justify-center gap-4"> -->
      <div
        class="internal-links items-center justify-center gap-4 hidden sm:flex"
      >
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
      </div>
    </div>
    <div class="right flex items-center justify-center gap-7">
      <DarkModeSwitch />
      <div class="social-links flex items-center justify-center gap-4">
        <SocialLink
          iconName={IconEnum.linkedIn}
          srText="Connect with me on Linkedin"
          link="https://www.linkedin.com/in/abdelghafour-echikr"
        />
        <SocialLink
          iconName={IconEnum.twitter}
          srText="Follow me on Twitter"
          link="https://twitter.com/Abdelghafour1_"
        />
        <SocialLink
          iconName={IconEnum.github}
          srText="Visit my GitHub profile"
          link="https://github.com/Abdelghafour122"
        />
      </div>
    </div>
  </nav>
</header>
<style>
  nav a.active {
    text-decoration: none;
    color: var(--accent);
    font-weight: 900;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
