---
import { Icon } from "astro-icon/components";
import { IconEnum } from "@/consts";
import HeaderLink from "./HeaderLink.astro";
import DarkModeSwitch from "@components/DarkModeSwitch.astro";
import SocialLink from "./SocialLink.astro";
---

<header
  class="bg-stone-50 dark:bg-stone-900 dark:border-b dark:border-b-stone-400 drop-shadow-[0_2px_8px_rgba(var(--black),0.05)] px-4 py-0 m-0"
>
  <nav class="flex items-center justify-between py-2">
    <div class="left flex items-center gap-9">
      <div class="logo flex">
        <span class="sr-only">Logo</span>
        <Icon name="logo" size={50} title="that's my logo ;)" />
      </div>
      <div class="internal-links flex items-center justify-center gap-6">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
      </div>
    </div>
    <div class="right flex items-center justify-center gap-7">
      <DarkModeSwitch />
      <div class="social-links flex items-center justify-center gap-4">
        <SocialLink
          iconName={IconEnum.linkedIn}
          srText="Connect with me on Linkedin"
        />
        <SocialLink iconName={IconEnum.twitter} srText="Follow me on Twitter" />
        <SocialLink
          iconName={IconEnum.github}
          srText="Visit my GitHub profile"
        />
      </div>
    </div>
  </nav>
</header>
<style>
  nav a.active {
    text-decoration: none;
    color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
