---
import { Icon } from "astro-icon/components";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="flex items-center justify-between py-2">
    <div class="left flex items-center gap-9">
      <div class="logo flex">
        <span class="sr-only">Logo</span>
        <svg
          width="60"
          height="60"
          viewBox="0 0 425 425"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M204.352 86.8826C204.744 94.0134 198.876 100.141 191.09 100.767C175.189 102.044 159.351 103.416 143.576 104.883C127.448 106.145 111.187 107.71 94.7906 109.578C87.6705 110.389 82.3288 115.89 82.2185 122.444L82.0291 133.682C81.8962 141.573 89.3026 147.818 97.9035 147.066L148.603 142.636C156.608 141.937 163.723 147.322 164.268 154.65C164.73 160.859 165.084 167.014 165.33 173.115C165.961 183.539 166.276 194.121 166.276 204.861C166.276 209.284 166.171 213.864 165.961 218.603C165.961 219.895 165.961 221.175 165.961 222.443C165.961 228.314 161.729 233.483 155.564 235.143L101.508 249.699C94.9629 251.461 90.6496 257.154 91.1499 263.37L93.9217 297.806C94.5231 305.277 101.788 310.822 109.915 309.815C120.87 308.456 131.775 306.798 142.63 304.84C153.575 302.676 164.57 300.734 175.614 299.014C183.863 297.73 191.469 303.229 192.174 310.845C193.21 322.032 194.246 333.298 195.282 344.642C196.252 355.056 197.496 365.333 199.015 375.472C200.236 383.629 193.323 390.989 184.31 390.93C160.296 390.774 136.418 390.823 112.678 391.078C88.0956 391.606 63.3667 391.913 38.4912 392C30.3972 392.028 23.8706 385.971 24.002 378.579C24.5784 346.138 25.236 313.819 25.9748 281.622C26.8155 244.979 27.2359 208.02 27.2359 170.745V161.743C27.2359 140.262 27.0257 118.94 26.6053 97.7751C26.2735 80.8209 25.9417 63.7684 25.6099 46.6174C25.4646 39.1065 32.1824 32.994 40.4058 33.1035C51.9361 33.257 63.4155 33.3337 74.8437 33.3337C91.4486 33.0179 108.159 32.8599 124.974 32.8599C137.795 32.8599 150.512 33.3337 163.123 34.2814C171.72 34.705 180.316 35.1996 188.913 35.7652C196.168 36.2426 201.861 41.611 202.226 48.2468L204.352 86.8826Z"
            fill="#15616D"></path>
          <path
            d="M399.886 371.43C400.801 378.091 396.128 384.333 388.996 385.955L368.452 390.627C360.376 392.463 352.27 387.726 350.703 380.26C348.299 368.81 345.895 357.44 343.492 346.152C340.935 333.905 338.44 321.659 336.005 309.412C334.691 302.804 328.186 298.125 320.846 298.528L267.979 301.435C261.1 301.813 255.464 306.562 254.497 312.795L248.15 353.721C247.137 360.251 241.018 365.105 233.797 365.105H213.07C204.78 365.105 198.178 358.765 198.595 351.202C201.3 302.188 204.093 253.437 206.974 204.949C209.938 155.051 212.81 105.014 215.588 54.8368C215.905 49.1264 220.192 44.2286 226.258 42.8181C237.97 40.0949 249.618 37.7524 261.203 35.7907C276.336 33.2636 291.575 32 306.919 32C321.468 32 336.018 32.2866 350.568 32.8599C357.738 33.1424 363.534 38.2506 364.198 44.7779C367.152 73.8449 370.024 102.912 372.813 131.979C376.176 164.515 379.644 197.21 383.217 230.062C385.74 255.965 388.472 281.552 391.415 306.823C394.087 328.245 396.911 349.781 399.886 371.43ZM307.84 233.96C315.978 233.642 322.151 227.268 321.341 219.865C321.265 219.18 321.187 218.472 321.107 217.743C320.266 209.845 319.32 201.632 318.269 193.103C317.218 184.258 315.957 176.361 314.486 169.412C313.417 163.253 312.348 159.251 311.279 157.404C310.955 156.846 310.427 156.41 309.775 156.199C309.229 156.023 308.487 155.847 307.549 155.671C306.078 155.355 304.397 155.039 302.505 154.723C300.823 154.407 299.142 154.249 297.46 154.249C295.779 154.249 294.623 154.249 293.992 154.249C292.941 154.249 291.47 154.249 289.578 154.249C288.215 154.249 286.714 154.353 285.074 154.56C284.293 154.659 283.506 154.709 282.72 154.764C281.222 154.868 279.725 155.17 278.228 155.671C277.573 155.917 276.998 156.186 276.503 156.48C275.137 157.291 274.318 158.693 273.969 160.146C273.728 161.147 273.466 162.499 273.183 164.2C272.553 167.99 271.712 172.729 270.661 178.415C269.82 183.785 268.875 189.629 267.824 195.946C266.983 202.264 266.142 208.266 265.301 213.952C264.461 219.638 263.725 224.534 263.094 228.641C262.738 232.125 266.157 235.591 269.984 235.442L307.84 233.96Z"
            fill="#001524"></path>
        </svg>
      </div>
      <div class="internal-links flex items-center justify-center gap-6">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </div>
    <div class="social-links flex items-center justify-center gap-4">
      <a href="https://www.linkedin.com/in/abdelghafour-echikr" target="_blank">
        <span class="sr-only">Connect with me on Linkedin</span>
        <Icon name="linkedin" size={30} />
      </a>
      <a href="https://twitter.com/Abdelghafour1_" target="_blank">
        <span class="sr-only">Follow me on Twitter</span>
        <Icon name="twitter" size={30} />
      </a>
      <a href="https://github.com/Abdelghafour122" target="_blank">
        <span class="sr-only">Go to my GitHub repo</span>
        <Icon name="github" size={30} />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  .logo {
    display: flex;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    color: var(--black);
  }
  nav a.active {
    text-decoration: none;
    color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
