---
import { Icon } from "astro-icon/components";
import HeaderLink from "./HeaderLink.astro";
import DarkModeSwitch from "../components/DarkModeSwitch.astro";
---

<header>
  <nav class="flex items-center justify-between py-2">
    <div class="left flex items-center gap-9">
      <div class="logo flex">
        <span class="sr-only">Logo</span>
        <Icon name="logo" size={50} title="that's my logo ;)" />
      </div>
      <div class="internal-links flex items-center justify-center gap-6">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </div>
    <div class="right flex items-center justify-center gap-7">
      <DarkModeSwitch />
      <div class="social-links flex items-center justify-center gap-4">
        <a
          href="https://www.linkedin.com/in/abdelghafour-echikr"
          target="_blank"
        >
          <span class="sr-only">Connect with me on Linkedin</span>
          <Icon name="linkedin" size={30} title="linkedin" />
        </a>
        <a href="https://twitter.com/Abdelghafour1_" target="_blank">
          <span class="sr-only">Follow me on Twitter</span>
          <Icon name="twitter" size={30} title="twitter" />
        </a>
        <a href="https://github.com/Abdelghafour122" target="_blank">
          <span class="sr-only">Go to my GitHub repo</span>
          <Icon name="github" size={30} title="github" />
        </a>
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  .logo {
    display: flex;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    color: var(--black);
  }
  nav a.active {
    text-decoration: none;
    color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
