---

---

<div
  class="w-[1024px] max-w-[calc(100%_-_2em)] m-auto p-6 prose-h1:mb-6 prose-h1:mt-5 prose-headings:font-[Lato] prose-headings:font-bold prose-headings:text-stone-800 dark:prose-headings:text-stone-100 prose-headings:mt-6 text-[rgb(var(--gray-dark))] dark:text-[rgb(var(--gray-light))] font-['Lato'] prose-ol:list-decimal prose-ol:list-inside prose-ul:list-disc prose-ul:list-inside"
>
  <slot />
</div>
